html, body{
font-family: sans-serif;
margin: 0;
}
nav{
  background-color: #3355FF;
  height: 50px;
}
.left{
  float: right;
  list-style: none;
  display: -webkit-box;
}
.left li {
  padding-right: 10px
}
nav a {
  text-decoration: none;
  color: white;
}
.fieldwrapper{
  white-space: nowrap;
}
div.product{
  float: left;width: 240px;
  background-color: white;
}

.productbox {
    background-color:#ffffff;
  	padding:10px;
  	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
   -moz-box-shadow: 0 8px 6px -6px  #999;
    box-shadow: 0 8px 6px -6px #999;
    width: 250px;
    height: auto;
    display: inline-block;
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}
/*img.img-responsive {
    width: 200px;
    height: 200px;
}*/
.productbox img{
  width: 200px;
  height: 200px;
}
.container-two{
  text-align: center;
}
